.line-hover {
    display: inline-block;
    color: rgba(255,255,255,.55);
    text-decoration: none;
}

.line-hover::after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: rgba(255,255,255,.55);
    transition: width .3s;
}

.line-hover:hover::after {
    width: 100%;
}