/**
Color Palette

Rich Black FOGRA 39   - #0b0c10
Gunmetal              - #1f2833
Silver                - #c5c6c7
Fluorescent Blue      - #66fcf1
Cadet Blue            - #45a29e
*/

html, main, footer {
    background-color: #1f2833;
    color: #c5c6c7;
}

main {
    padding-top: 5.5rem;   /** how far from the top */
}